<html lang="en">
<head>
    <%- include ../partials/head %>
</head>
<body class="contatiner">
<header>
    <%- include .partials/header %>
    <h3 class="ui center aligned icon header">
        New Post
    </h3>
</header>
<main>
    <div class="ui grid container">
        <div class="ui two column centered grid">
            <div class="column">
                <!-- Enctype is multipart to support file upload-->
                <form action="/create" method="post" enctype="multipart/form-data" class="ui form"></form>
                    <div class="field">
                        <label>Title</label>
                        <input name="title" type="text" placeholder="Title"/>
                    </div>
                    <div class="field">
                        <label>Description</label>
                        <textarea rows="4" name="description" placeholder="Description"></textarea>
                    </div>
                    <div class="field">
                        <label>Image</label>
                        <input name="image" type="text" placeholder="="Image URL id="url_text"/>
                    </div>
                    <div class="field">
                        <label>Tags</label>
                        <div class="ui fluid multiple search selection dropdown" id="tag">
                            <input name="tags" type="hidden">
                            <i class="dropdown icon"></i>
                            <div class="default text">Tags</div>
                            <div class="menu">
                                <div class="item" data-value="Chirstmas">Christmas</div>
                                <div class="item" data-value="Spring">Spring</div>
                            </div>
                        </div>
                    </div>
                    <button class="ui button" type="button" id="upload_widget_opener">
                        Upload with Widget
                    </button>
                    <button class="ui primary button" type="submit">Post</button>
            </div>
        </div>
    </div>
</main>
<%- include .partials/scripts %>
</body>
</html>